{% extends 'todo/base.html' %}


{% block header %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">TodoList</h1>
    <p class="lead">TodoListを使って毎日を効率的に過ごしましょう。</p>
  </div>
</div>

{% endblock %}


{% block content %} 
<a href="{% url 'todo:create'%}">新規登録</a>
{% for post in post_list %}
<div class="alert alert-{{post.priority}}" role="alert">
    <p>{{post.title}}</p>
    <p>{{post.text}}</p>
    <a class='btn btn-primary' href="{% url 'todo:delete' post.pk%}">削除</a>
    <a class="btn btn-info" href="">編集</a>
    <a class="btn btn-success" href="">詳細</a>
</div>


{%endfor%}
{% endblock %}